@model Practicing_Programmer.Models.Question

@{
    ViewBag.Title = "Details";
}

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }, new { @class = "question_link" })
    &nbsp;@Html.ActionLink("Delete", "Delete", new { id = Model.QuestionID }, new { @class = "question_link" })
</div>

<div class="title">
    <h2>@Html.DisplayFor(model => model.Inquiry)</h2>
</div>

<div>
    <div class="details">
        <h3>Summary</h3>
        <p>@Html.DisplayFor(model => model.Summary)</p>
        <p>Category: @Html.DisplayFor(model => model.Category)</p>
        <p>Difficulty: @Html.DisplayFor(model => model.Difficulty)</p>
    </div>
    <div class="details">
        <h3>Answer</h3>
        <p>@Html.DisplayFor(model => model.Answer)</p>
        <p>More Info: @Html.DisplayFor(model => model.MoreInfo)</p>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

